.square {
    float: left;
    position: relative;
    width: 8%;
    padding-bottom: 8%; /* = width for a 1:1 aspect ratio */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    padding: 20px
  }
